extends layout

block content
  h1= title
  p Welcome to #{title}
  canvas#viewport(width="300",height="300")

block lib
  //- TODO: Load locally
  script(src="lib/physicsjs-full-0.6.0.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")

  //- For helloWorld example
  //- script(src="http://wellcaffeinated.net/PhysicsJS/assets/scripts/vendor/physicsjs-0.5.0/physicsjs-full-0.5.0.min.js") 

block src
  //- script(src="src/helloWorld.js")
  script(src="src/main.js")