extends layout

block content
  .col-xs-3
    h1= title
    p Welcome to #{title}
    //- canvas#viewport(width="300",height="300")
  .col-xs-5
    form.form-inline(role='form')
    .form-group
      .input-group
        .input-group-addon Spotify Songs
        input.form-control#songInput(type='text', placeholder='Enter Spotify URI')
  .col-xs-1
    button.btn.btn-default#addSong(type='submit') add Song
  .col-xs-2
    button.btn.btn-default#startGame(type='submit') Start Game
  .col-xs-12    
    #trackID
  .col-xs-12
    canvas#canvas

block lib
  script(src="lib/jQuery.min.js")
  script(src="lib/bootstrap.min.js")


block src
  script(src="src/AssetManager.js")
  script(src="src/graphics.js")
  script(src="src/load-song.js")
  script(src="src/terrain-gen.js")
  script(src="src/main.js")