body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pjs-meta {
  display: none;
}

#canvas {
  border: 1px solid #666;
  background-image: -o-linear-gradient(     left , rgb(208,244,247) 9.5%, rgb(255,255,255) 10%, rgb(208,244,247) 10.5%);
  background-image: -moz-linear-gradient(   left , rgb(208,244,247) 9.5%, rgb(255,255,255) 10%, rgb(208,244,247) 10.5%);
  background-image: -webkit-linear-gradient(left , rgb(208,244,247) 9.5%, rgb(255,255,255) 10%, rgb(208,244,247) 10.5%);
  background-image: linear-gradient(        left , rgb(208,244,247) 9.5%, rgb(255,255,255) 10%, rgb(208,244,247) 10.5%);
  /*background-color: #d0f4f7;*/
}